{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/board.css' %}">

<div class="board-wrapper">
    <h1>게시글 작성</h1>

    <form method="post" class="board-form">
        {% csrf_token %}

        <input type="text" name="title" placeholder="제목" required>

        <textarea name="content" placeholder="내용을 입력하세요" required></textarea>

        <div style="display:flex; justify-content:flex-end; margin-top:20px;">
            <button type="submit" class="write-btn">저장</button>
        </div>
    </form>
</div>
{% endblock %}
