{% extends 'base.html' %}

{% block body %}
<div id="container">
    <div id="location">
        <ol>
            <li><a href="/">HOME</a></li>
            <li><a href="/member/login/">MEMBERSHIP</a></li>
            <li class="last">마이페이지</li>
        </ol>
    </div>
    
    <div id="outbox">
        <div id="left">
            <div id="title2">MEMBERSHIP<span>멤버쉽</span></div>
            <ul>
                <li><a href="/member/login/" id="leftNavi1">로그인</a></li>
                <li><a href="/member/step03/" id="leftNavi2">회원가입</a></li>
                <li><a href="#" id="leftNavi3">아이디/<span>비밀번호 찾기</span></a></li>
                <li><a href="#" id="leftNavi4">회원약관</a></li>
                <li><a href="#" id="leftNavi5">개인정보<span>취급방침</span></a></li>
                <li class="last"><a href="#" id="leftNavi6">이메일무단<span>수집거부</span></a></li>
            </ul>
        </div>

        <div id="contents">
            <div id="member">
                <h2><strong>마이페이지</strong><span>회원 정보를 관리하실 수 있습니다.</span></h2>
                
                <div class="informbox">
                    <div class="inform">
                        <h3>회원 정보</h3>
                        <table>
                            <tr>
                                <td class="label">이름</td>
                                <td>{{ user_name }}</td>
                            </tr>
                            {% if user %}
                            <tr>
                                <td class="label">아이디</td>
                                <td>{{ user.id }}</td>
                            </tr>
                            <tr>
                                <td class="label">이메일</td>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td class="label">전화번호</td>
                                <td>{{ user.phone }}</td>
                            </tr>
                            {% endif %}
                        </table>
                        
                        <div class="btn">
                            <a href="/member/logout/" class="rbtn">로그아웃</a>
                            <a href="#" class="sbtn">정보수정</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
