<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{margin:0; padding:0;}
        body{padding:20px;}
        h1{margin-bottom:20px;color: #ffd87dff;}
        id{margin-bottom:20px; background-color: #ffd87dff; border:none; padding:10px 20px; border-radius:5px; color:#000000ff; font-weight:bold; cursor:pointer;}
        stubmit{margin-top:100px; background-color: #ffd87dff; border:none; padding:10px 20px; border-radius:5px; color:#000000ff; font-weight:bold; cursor:pointer;}
    </style>
</head>
<body>
    <h1>성적 입력 페이지</h1>
    <form action="id">
        이름: <input type="" name="name"><br>
        국어: <input type="" name="kor"><br>
        영어: <input type="" name="eng"><br>
        수학: <input type="" name="math"><br>
        평균: <input type="" name="math"><br>
        합계: <input type="" name="math"><br>
        <input type="submit" value="전송">
    </form>
</body>
</html>