.root{
    width: 500px; height: 800px;
    border: 1px solid black;
    margin: 20px auto;
}
.root h3{text-align: center; margin: 20px;}
.root form{border: 1px solid black; margin: 20px 10px 20px;
    padding: 40px;
}

.root button{margin-right: 10px ;}
.card{margin-bottom: 20px;}