{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>VLAST Shop - 로그인</title>
  <style>
    
  </style>
  
  <script>
    $(function(){
      {% if state_code %}
      if ('{{state_code}}'=="1"){
        alert("로그인이 되었습니다.");
        location.href="/";
      }else if ('{{state_code}}'=="0"){
        alert("아이디 또는 패스워드가 일치하지 않습니다.\n다시 로그인 하세요.");
        $("input[name='id']").focus();
      }else if ('{{state_code}}'=="-1"){
        alert("로그아웃 되었습니다.");
        location.href="/";
      }
      {% endif %}
      
      {% if join_state %}
      if ('{{join_state}}'=="1"){
        alert("회원가입이 완료되었습니다.\n로그인해주세요.");
      }
      {% endif %}
    }); //제이쿼리 구문

    function loginBtn(){
      if ($("input[name='id']").val().length < 1){
        alert("아이디를 입력하셔야 로그인이 가능합니다");
        return false;
      }
      if ($("input[name='pw']").val().length < 1){
        alert("비밀번호를 입력하셔야 로그인이 가능합니다");
        return false;
      }
      console.log("아이디 :"+$("input[name='id']").val());
      console.log("패스워드 :"+$("input[name='pw']").val());
      frm.submit();
    }
  </script>
</head>
<body>
  <div class="header">
    <div class="top-menu">
      <a href="#">회원가입</a> |
      <a href="#">로그인</a> |
      <a href="#">주문조회</a> |
      <a href="#">최근본상품</a>
    </div>
    <div class="icons">
      <i class="fas fa-search"></i>
      <i class="fas fa-user"></i>
      <i class="fas fa-shopping-bag"></i>
    </div>
  </div>
  <div class="container">
    <div class="login-box">
      <h1>로그인</h1>
      <form  action='{% url "member:login" %}' method='post' name='frm' >
        {% csrf_token %}
        <input type="text" name='id' placeholder="아이디" class="input-box" value='{{cook_id}}' required>
        <input type="password" name='pw' placeholder="비밀번호" class="input-box" value='{{cook_pw}}' required>
        <label class="checkbox-wrap">
          <input type="checkbox" name="login_keep" value="1" 
          {% if cook_id %}checked{% endif %}>
          <span class="checkmark"></span>
          아이디 저장
        </label>
        <button type="button" onclick='loginBtn()' class="btn btn-login">로그인</button>
      </form>
      <div class="links">
        <a href="{% url 'member:find_id' %}">아이디 찾기</a> |
        <a href="{% url 'member:find_pw' %}">비밀번호 찾기</a>
      </div>
      <div class="signup-box">
        <p><strong>아직 회원이 아니신가요?</strong></p>
        <p>지금 회원가입을 하시면<br>다양하고 특별한 혜택이 준비되어 있습니다.</p>
        <a href="{% url 'member:join' %}"><button type="button" class="btn-signup">회원가입</button></a>
      </div>
    </div>
  </div>
  <footer>
    Copyright © VLAST Shop. All rights reserved.
  </footer>
</body>
</html>